<ul class="list-unstyled">
    <!-- Featured Products Loop -->{% for product in collection.products %}
    <li class="col-xs-12 col-sm-6 col-md-3 product-featured">
        <div class="shadow framed contain-bg" style="background-image: url({{ product | img_url: '600x' }});">
            <a href="{{ product.url | within: collection }}"> <img class="no-visible" src="{{ product | img_url: 'thumb' }}" alt="{{ product.featured_image.alt | escape }}" /> </a>
            <div class="for-sale">
                <div class="sale-details">
                    <p><a href="{{ product.url | within: collection }}"><strong><span class="large">{{ product.title }}</span></strong></a>
                        <br>by <a href="http://thrl-project.myshopify.com/collections/{{ product.vendor | handleize }}">{{ product.vendor }}</a>
                        <br> {% if product.compare_at_price > product.price %} <span class="compare">{{ product.compare_at_price | money }}</span>
                        <br> <span class="product-price on-sale" itemprop="price" style="color:#e34;">{{ product.price | money }}</span> {% else %} {% if product.price_varies %}From {% endif %}{{ product.price | money }}</p> {% endif %} </div>
                <!-- Quick View Button -->
                <!-- Clear -->
                <div class="clear"></div>
                <!-- Quick View -->
                <div class="quick-view">
                    <div class="prod-desc">
                        <a class="smallish" href="{{ product.url }}">More about this product <i class="fa fa-caret-right" style="margin-top:1px;"></i></a> 
                    </div>
                    <!-- Start Quick View Form -->
                    <form action="/cart/add" method="post" enctype="multipart/form-data">
                        <!-- Product Variants -->{% if product.variants.size == 1 %}
                        <div class="hidden"> {% endif %}
                            <div class="product-variants">
                                <label style="margin-bottom:10px;">Select your item...</label>
                                <br> {% if product.type contains 'Shirt' or product.type contains 'Hoodie' or product.type contains 'Sweat' %}
                                <select id="product-select" name="id"> {% for variant in product.variants %}
                                    <option{% if variant==p roduct.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}"> {{ variant.title }} - {{ variant.price | money }} </option> {% endfor %} </select> {% else %} {% for variant in product.variants %} {% if variant.available == true %}
                                <div style="background:#DDD; padding:10px;margin-bottom:5px;">
                                    <input type="radio" name="id" value="{{variant.id}}" id="radio_{{variant.id}}" {%if forloop.first%} checked="checked" {%endif%} />
                                    <label for="radio_{{variant.id}}" style="padding-left:5px;font-weight:400;">{{ variant.price | money_with_currency }} - {{ variant.title }}</label>
                                </div> {% endif %} {% endfor %} {% endif %} </div> {% if product.variants.size == 1 %} </div> {% endif %}
                        <!-- Quantity -->
                        <div class="quantity">
                            <select id="quantity" name="quantity"> {% for i in (1..10) %}
                                <option value="{{ i }}">{{ i }}</option> {% endfor %} </select>
                        </div>
                        <!-- Purchase Button -->{% if product.type == 'Illustrated Poster' or product.type == 'Tattoo Flash Poster' or product.type == 'Photographer Print' %}
                        <!-- <a class="btn framed-btn" href="{{ product.url }}-framed" style="padding:10px;font-size:0.8em;text-transform:uppercase;">frame it</a>-->{% endif %}
                        <div class="product-add">
                            <button type="submit" name="add" id="add" style="text-transform:uppercase;font-size:0.8em;padding:10px;width:100%; font-size:20px;" class="btn"><i class="fa fa-cart-plus"></i></button>
                        </div>
                    </form>
                </div>
                <div class="btn-add">
                    <button type="submit" class="btn btn-nopad quick-view-btn" style="width:100%;">
                        <p style="text-transform:uppercase; padding-top:5px;"><span class="get-rid" style="font-size:20px"><i class="fa fa-shopping-cart"></i></span><i class="fa newsize fa-caret-up get-rid-of" style="font-size:20px"></i></p>
                    </button>
                </div>
            </div>
        </div>
    </li> {% endfor %} </ul>